{% extends 'base.html.twig' %}

{% block title %}YTCrawler!{% endblock %}

{% block body %}
    <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/T0Jqdjbed40?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
    </div>
{% endblock %}
