/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #4b4a4a;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container-fluid {
    padding: 70px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.modal-body button, .modal-body a {
    display: none;
}

input.yturl {
    font-size: 3em;
}

img.devsite-product-logo {
    height: 32px;
    max-width: 32px;
    min-width: 32px;
}
