<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="
    {%- if 'dev' == app.environment -%}
        {{ asset('favicon-dev.ico') }}
    {%- else -%}
        {{ asset('favicon.ico') }}
    {%- endif -%}
    "/>

    <title>{% block title %}PlaygroundOne{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

<header>
{% include ('_menu.html.twig') %}
</header>

<main role="main" class="container-fluid">
    {% include ('_flash-messages.html.twig') %}
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span class="float-right">Made with <a href="https://symfony.com">Symfony</a></span>
        <span class="text-muted">Place footer content here.</span>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
